.navbar-no-radius {
    border-radius: 0;
}

body {
    background: #eee;
}

.grey {
    color: #555;
}

.light-grey {
    color: #999;
}

.bottom-20 {
    margin-bottom: 20px;
}

.essay-page {
    margin-top: 15px;
    padding: 20px;
    background: #fcfcfc;
}

.essay-page > div.essay-item {
    border-bottom: 1px solid #eee;
    padding: 10px 5px 15px 0;
}