.navbar-no-radius {
    border-radius: 0;
}

body {
    background: #f3f3f3;
}

.essay-list {
    margin-top: 15px;
    padding: 20px;
    background: #fff;
}

.essay-list .table>tbody>tr>td {
    padding: 10px;
    border: none;
}